{% extends 'base.html.twig' %}

{% block title %}View Book Details!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/stylesheet.css') }}" type="text/css" rel="stylesheet"  />
{% endblock %}
{% block body %}
    <style>
        span{
            font-size: 20px;
            color: #3c4caa;
        }
    </style>
    <div>
        <a href="{{path('userView')}}">Home</a>
    </div>
    <div class="d-flex justify-content-center">

        <div class="col-sm-4">
                <div class="p-3 mb-2 bg-success text-white">
                    {% if bookDetails != NULL %}
                        <img src="{{ asset('images/images/' ~ bookDetails.image) }}" alt="Not Found"/>
                        <br/>
                        <span>Name: </span><b>{{ bookDetails.name }}</b>
                        <br/>
                        <span>Author: </span><b>{{ bookDetails.author }}</b>
                        <br/>
                        <span>ISBN: </span><b>{{ bookDetails.isbn }}</b>
                        <br/>
                        <span>Published Date: </span><b>{{ bookDetails.publishedDate }}</b>
                        <br/>
                        <a href="{{path('orderBook',{id: bookDetails.id})}}">Order Book</a>
                    {% endif %}
                </div>
        </div>
    </div>



{% endblock %}